<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../layout/head.ejs') %>
    </head>
<body>

    <main>
        <h1>helllll</h1>
        <img src='<%= herb.image_url%>'>
        <%= herb.name%>
        <%= herb.case_using%>
        <%= herb.preparation%>
        <%= herb.description%>
        <button onclick="showBottom()">Update</button>
        <div id="show-edit">

            <%- include('edit') %>
        </div>
    </main>
<script src="/js/app.js"></script>
</body>
</html>
