<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
</head>

<body id="detail-body">
    
<header>
    <%- include('../../layout/header.ejs') %>
</header>
<div class="grass">
    
</div>
    <main class="main-detail">
        <img class="img-collection" src='<%= herb.image_url%>'>
       <p><%= herb.name%></p> 
        <p><%= herb.case_using%></p> 
        <p><%= herb.preparation%></p> 
        <p> <%= herb.description%></p>
        <div class="updat-butt">
        <button id="update-butt" onclick="showBottom()">Update</button>
        <form action="/collection/<%=herb.id%>?_method=DELETE" method="POST">
        <input id="delete-butt" type="submit" value="Delete">
        </form>
        <div id="show-edit">

        <%- include('edit') %>
        </div>
        </div>
    </main>
    <div class="grass">
    
    </div>
    <footer>
        <%- include('../../layout/footer.ejs') %>
    </footer>
    <script src="/js/app.js"></script>
</body>

</html>