
<!DOCTYPE html>
<html lang="en">


<body>
    <main>
       

<section id="updat-form">
    <form action="/collection/<%=herb.id%>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%=herb.name%>"> 
        <input type="text" name="case_using" value="<%=herb.case_using%>"> 
        <input type="text" name="preparation" value="<%=herb.preparation%>"> 
        <input type="text" name="description" value="<%=herb.description%>"> 
        <input type="text" name="image_url" value="<%=herb.image_url%>"> 
        <input id="submitButt" type="submit" value="submit">
        </form>
</section>
    </main>
</body>
</html>





