<section id="updat-sec">
    <form id="updat-form" action="/collection/<%=herb.id%>?_method=PUT" method="POST">
        <input type="hidden" name="name" value="<%=herb.name%>">
        <input type="text" name="case_using" value="<%=herb.case_using%>">
        <input type="text" name="preparation" value="<%=herb.preparation%>">
        <textarea class="describtion" type="text" cols="25" rows="5" name="description"  value="<%=herb.description%>">"<%=herb.description%>"</textarea>
        <input type="text" name="image_url" value="<%=herb.image_url%>">
        <button id="submitButt" type="submit" value="submit">Submit</button>
    </form>
</section>