<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>
    <main>
        <section>
            <% searchResults.forEach(herb => {%>
                <%= herb.name %>
                    <img src='<%= herb.image_url%>'>
                    <%= herb.case_using%>
                        <%= herb.preparation%>
                            <%= herb.description%>
                                <%});%>
        </section>
    </main>
    <footer></footer>
</body>

</html>