<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
</head>

<body id="body-show">
    <header></header>
    <main id="main-show">
        <section id="div-allSearches">
            <% searchResults.forEach(herb => {%>
                <div class="div-show">
                    <img class="img-show" src='<%= herb.image_url%>'>
                    <p>
                        <%= herb.name %>
                    </p>
                    <p>
                        <%= herb.case_using%>
                    </p>
                    <p>
                        <%= herb.preparation%>
                    </p>
                    <p>
                        <%= herb.description%>
                    </p>
                    <form action="/collection" method="POST">
                        <input type="hidden" name="name" value="<%=herb.name%>">
                        <input type="hidden" name="image_url" value="<%=herb.image_url%>">
                        <input type="hidden" name="case_using" value="<%=herb.case_using%>">
                        <input type="hidden" name="preparation" value="<%=herb.preparation%>">
                        <input type="hidden" name="description" value="<%=herb.description%>">
                        <p>

                            <input type="submit" value="add herb">
                        </p>
                    </form>
                </div>
                                <%});%>
        </section>
    </main>
    <footer>
        <%- include('../../layout/footer.ejs') %>
    </footer>
</body>

</html>