<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('.././layout/head.ejs') %>
</head>
<body>
    <header>
        <%- include('.././layout/header.ejs') %>
    </header>
    <main>
        <h3><%= result.length%></h3>
        <div>
            <% result.forEach(herb => { %>
            <img src="<%=herb.image_url%>" alt="">
            <p><%=herb.name%></p>
            <p><%=herb.case_using%></p>

        <%}) %>
            <!-- <form action="/details" method="POST">
                <input type="hidden" name="name" value="<%=result.name%>">
                <input type="hidden" name="case_using" value="<%=result.case_using%>">
                <input type="hidden" name="preparation" value="<%=result.preparation%>">
                <input type="hidden" name="description" value="<%=result.description%>">
                <input type="hidden" name="image_url" value="<%=result.image_url%>">
                <input type="submit" value="More Details">
            </form> -->
        </div>

    </main>
    
</body>
</html>