<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head.ejs') %>
</head>

<body id="body-collection">
    <header>
        <%- include('.././layout/header.ejs') %>
    </header>
    <main id="main-collection">
        <div id="div-total">
            <h3 id="total-collection">
                Total Herb : <%= result.length%>
            </h3>

        </div>
        <div id="div-allCollections">

            <% result.forEach(herb => { %>
                <div class="div-collection">
                    <img class="img-collection" src="<%=herb.image_url%>" alt="">
                    <p>
                        <%=herb.name%>
                    </p>
                    <p>
                        <%=herb.case_using%>
                    </p>
                    <p>

                        <a href='/collection/<%=herb.id%>' rel="link" target="_blank">More details</a>
                    </p>
                </div>
                    <%}) %>
        </div>

    </main>
    <footer>
        <%- include('../layout/footer.ejs') %>
    </footer>
</body>

</html>