<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head.ejs') %>
</head>
<body id="dash-body" >
  

    <main id="body-dash">
        <h1>Total of Suggestions : <%= results.length%></h1>
        <%results.forEach(herb => { %>
            <div >
                
                <p><span> Name : </span> <%=herb.name%></p>
                <p> <span>Image url : </span><%=herb.image_url%></p>
                <p><span>Case Using : </span><%=herb.case_using%></p>
                <p><span>Preparation : </span><%=herb.preparation%></p>
                <p><span>Description : </span> <%=herb.description%></p>
                <section>
    
                    <form action='/dashboard/<%= herb.id%>?_method=PUT' method="POST">
                        <input class="accept" type="submit" value="Accept">
                    </form>
                    <form action="/suggestion/delete/<%=herb.id%>?_method=DELETE" method="POST">
                        <input class="reject" type="submit"  value="Reject">
                    </form>
                </section>
            </div>
    
        <%} )%>
    </main>

    
</body>
</html>