<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('.././layout/head.ejs') %>
</head>
<body>
    <header>
        <%- include('.././layout/header.ejs') %>

    </header>
    <main id="index-main">
        <section id="right-index">
            <div>
                <img src="<%= result[24].image_url%>" alt="">
            </div>
            <div>
                <p><%=result[24].name%></p>
                <p><%=result[24].case_using%></p>
                <p><%=result[24].preparation%></p>
                <p><%=result[24].description%></p>
            </div>
            <div>
                <p><%=result[28].name%></p>
                <p><%=result[28].case_using%></p>
                <p><%=result[28].preparation%></p>
                <p><%=result[28].description%></p>
            </div>
            <div>
                <img src="<%= result[28].image_url%>" alt="">

            </div>
        </section>

        <section id="left-index">
            <h3><a href="/collection"> my collection</a></h3>

        </section>
    </main>
</body>
</html>