<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('.././layout/head.ejs') %>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/base.css">
    <title>Herbs Remedy</title> -->
 
 
</head>
<body>
    <header>
        
  <div id="img-div">
    <img src="../../img/herbal Remedy (3) (1).png" alt="" width="100px" height="50px" >
</div>
<nav>
    <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">SEARCH</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">API</a></li>
    </ul>
</nav>
        <!-- <%- include('.././layout/header.ejs') %> -->

    </header>
    <main id="index-main">
        <section id="right-index">
            <div>
                <img src="<%= result[0].image_url%>" alt="">
            </div>
            <div>
                <p><%=result[0].name%></p>
                <p><%=result[0].case_using%></p>
                <p><%=result[0].preparation%></p>
                <p><%=result[0].description%></p>
            </div>
            <div>
                <p><%=result[result.length-1].name%></p>
                <p><%=result[result.length-1].case_using%></p>
                <p><%=result[result.length-1].preparation%></p>
                <p><%=result[result.length-1].description%></p>
            </div>
            <div>
                <img src="<%= result[result.length-1].image_url%>" alt="">

            </div>
        </section>

        <section id="left-index">
            <h3><a href="/collection"> my collection</a></h3>

        </section>
    </main>
</body>
</html>