<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('.././layout/head.ejs') %>
</head>

<body>
    <header>
        <%- include('.././layout/header.ejs') %>
    </header>
    <main id="index-main">
        <section id="left-index">
            <div id="a">
                <img class="img-index" src="<%= result[0].image_url%>" alt="">
            </div>
            <div id="b">
                <p>
                    <%=result[0].name%>
                </p>
                <p>
                    <%=result[0].case_using%>
                </p>
                <p>
                    <%=result[0].description%>
                </p>
            </div>
            <div id="c">
                <p>
                    <%=result[result.length-1].name%>
                </p>
                <p>
                    <%=result[result.length-1].case_using%>
                </p>

                <p>
                    <%=result[result.length-1].description%>
                </p>
            </div>
            <div id="d">
                <img class="img-index" src="<%= result[result.length-1].image_url%>" alt="">
            </div>

        </section>

        <section id="right-index">
            <h3><a href="/collection"> My Collection</a></h3>
        </section>
    </main>
    <footer>
        <%- include('.././layout/footer.ejs') %>
    </footer>
</body>

</html>